@model WebApplication4.Models.EmployeeAddEditViewModel
@{ ViewBag.Title = "Index"; }


<h2>Nisarg</h2>



@using (Html.BeginForm())


{

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.Name)
        @Html.TextBoxFor(m => m.Employee.Name)
        @Html.TextBoxFor(m => m.Employee.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.WorkingCompany)
        @Html.DropDownListFor(m => m.Employee.WorkingCompany, new SelectList(Model.WorkingCompanies, "Id", "Name"), new { @class = "form-group" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.PayRollCompany)
        @Html.DropDownListFor(m => m.Employee.PayRollCompany, new SelectList(Model.WorkingCompanies, "Id", "Name"), new { @class = "form-group" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.EmployeeStatus)
        @Html.DropDownListFor(m => m.Employee.EmployeeStatus, new SelectList(Model.StatusList, "KeyId", "KeyName"), new { @class = "form-group" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.EmployeeType)
        @Html.DropDownListFor(m => m.Employee.EmployeeType, new SelectList(Model.EmployeeType, "KeyId", "KeyName"), new { @class = "form-group" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.SSN)
        @Html.TextBoxFor(m => m.Employee.SSN)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.Date_Of_Birth)
        @Html.EditorFor(m => m.Employee.Date_Of_Birth, "{DD/MM/YYYY}")
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.BatchId)
        @Html.DropDownListFor(m => m.Employee.BatchId, new SelectList(Model.BatchId, "Id", "Name"), new { @class = "form-group" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.Department)
        @foreach (var item in Model.Departments)
        {

            <div>
                <input Id="chk@(item.Id)"
             
                       value="@item.Id"
                    
                       type="checkbox" />
                @item.Name <br />
            </div>}
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.PersonalEmailId)
        @Html.TextBoxFor(m => m.Employee.PersonalEmailId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.OfficialEmailId)
        @Html.TextBoxFor(m => m.Employee.OfficialEmailId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.Date_Of_Hire)
        @Html.EditorFor(m => m.Employee.Date_Of_Hire, "{DD/MM/YYYY}")
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.WorkingLocation)
        @Html.DropDownListFor(m => m.Employee.WorkingLocation, new SelectList(Model.WorkingLocations, "Id", "Name"), new { @class = "form-group" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.HrRepresentative)
        @Html.DropDownListFor(m => m.Employee.HrRepresentative, new SelectList(Model.HrRep, "Id", "Name"), new { @class = "form-group" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.ActualRecruiter)
        @Html.DropDownListFor(m => m.Employee.ActualRecruiter, new SelectList(Model.Recruiters, "Id", "Name"), new { @class = "form-group" })
    </div>




}
